# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Env files
.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase credentials
server/firebase/serviceAccountKey.json

# OS/System files
.DS_Store
Thumbs.db
